.modal {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_close {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal_container {
  position: relative;
  background: transparent;
  z-index: 100;

}

.modal_btn_close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -9px;
  right: -9px;
  z-index: 100;
  background: #00d5ff;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_btn_close > i {
  font-size: 14px;
  font-weight: bold;
}

.modal_content {
  max-width: 95vw;
  max-height: 95vh;
  overflow-y: auto;

}
.modal_content ::-webkit-scrollbar {
  display: none;
}
